.btn{
  width: 95%;
  height: 60px;
  display: flex;
  margin-bottom: 20px;
}

.btn button{
  width: 60px;
  height: 60px;
  padding-top: 60px;
  border-radius: 50%;
  transition: all .5s ease-in-out;    
  border: none;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  padding: 1rem;
  z-index: 1;
}

  .btn::before{
    content: '';
    z-index: -1;
    width: 100%;
    height:100%;
  margin-top: 1rem;

  
    transition: all .5s ease-in-out;
  
  }
  .btn:hover{
    color: #f4f4f4;
  
  }
  
  .btn:hover::before{
    transform: translateY(-50px) translateX(-50px);
  }
  


  /*---------------*/
.content-svg{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
padding-bottom: 40px;

}



.img{
  height: 100vh;
  max-width: 100%;
  object-fit: cover;
aspect-ratio: 1/1;
margin: 0 auto;
}
  /*---------------*/


 /* border-radius: 100%;
  position: absolute;
  background-color: hsla(35 100% 50% / 0.75);
  background-image: radial-gradient(
      at 51% 89%,
      hsla(40, 100%, 60%, 1) 0px,
      transparent 50%
  ),
  radial-gradient(at 100% 100%, hsla(35, 100%, 60%, 1) 0px, transparent 50%),
  radial-gradient(at 22% 91%, hsla(35, 100%, 60%, 1) 0px, transparent 50%);
  background-position: top;
  --------------- */
